<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     	= "http://www.w3.org/ns/widgets"
        xmlns:gap 	= "http://phonegap.com/ns/1.0"
        id        	= "com.cesareovincenzo.walkandlay"
        versionCode = "7"
		version   	= "4.0.1">

	<name>Walk&amp;Play</name>

    <description>
        Agenzia di comunicazione per il turismo e i beni culturali. Progettiamo soluzioni e servizi per la promozione e la fruizione della cultura e del turismo.
    </description>
	
	<author href="http://www.walkandplay.it" email="vincenzo@walkandplay.it">Vincenzo Cesareo
	</author>
	
	<icon src="icon.png" />
	<icon src="ldpi.png" platform="android" qualifier="ldpi" />
	<icon src="res/icons/android/drawable-ldpi-icon.png" platform="android" qualifier="ldpi" />
	<icon src="res/icons/android/drawable-mdpi-icon.png" platform="android" qualifier="mdpi" />
	<icon src="res/icons/android/drawable-hdpi-icon.png" platform="android" qualifier="hdpi" />
	<icon src="res/icons/android/drawable-xhdpi-icon.png" platform="android" qualifier="xhdpi" />
	<icon src="res/icons/android/drawable-xxhdpi-icon.png" platform="android" qualifier="xxhdpi" />
	<icon src="res/icons/android/drawable-xxxhdpi-icon.png" platform="android" qualifier="xxxhdpi" />

	<splash src="splash.png" />
	<splash  src="res/screens/android/drawable-land-ldpi-screen.png" platform="android" qualifier="land-ldpi" />
	<splash src="res/screens/android/drawable-land-mdpi-screen.png" platform="android" qualifier="land-mdpi" />
	<splash src="res/screens/android/drawable-land-hdpi-screen.png" platform="android" qualifier="land-hdpi" />
	<splash src="res/screens/android/drawable-land-xhdpi-screen.png" platform="android" qualifier="land-xhdpi" />
	<splash src="res/screens/android/drawable-land-xxhdpi-screen.png" platform="android" qualifier="land-xxhdpi" />
	<splash src="res/screens/android/drawable-land-xxxhdpi-screen.png" platform="android" qualifier="land-xxxhdpi" />
	<splash src="res/screens/android/drawable-port-ldpi-screen.png" platform="android" qualifier="port-ldpi" />
	<splash src="res/screens/android/drawable-port-mdpi-screen.png" platform="android" qualifier="port-mdpi" />
	<splash src="res/screens/android/drawable-port-hdpi-screen.png" platform="android" qualifier="port-hdpi" />
	<splash src="res/screens/android/drawable-port-xhdpi-screen.png" platform="android" qualifier="port-xhdpi" />
	<splash src="res/screens/android/drawable-port-xxhdpi-screen.png" platform="android" qualifier="port-xxhdpi" />
	<splash src="res/screens/android/drawable-port-xxxhdpi-screen.png" platform="android" qualifier="port-xxxhdpi" />
    <splash src="res/screen/windows-phone/screen-portrait.jpg"      platform="winphone" />
	
	<preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-installLocation"    value="auto" /> 
	<preference name="android-minSdkVersion" value="14"/>

<preference name="android-targetSdkVersion" value="26"/>
	
	<DefaultLanguage
     xmlns=""
     code="it-IT"/>

<access origin="*" />
 <plugin name="cordova-plugin-whitelist" version="1.3.3" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>

</widget>